/*******************************
GRAPHS ONLY
*******************************/

.graph {
  position: relative;
  /* ! these values control the height and width of the application */
  height: 65vh;
  width: 72.5vw;
  padding: 15px;
}