/* align everything to be uniform (each box follows this rule) */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  ! Note: padding is used to gain height
*/

/* this is creating the shell. It's aligning it to the center.  */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* this is the container for all of our boxes.  */
.container-gui {
  padding: 2%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  border-radius: 25px;
  box-shadow: 10px 10px 10px grey;

  display: flex;
  justify-content: space-around;
  gap: 15px;

  min-width: 800px;
}

/* holds both tab + analytics container */
.container-main {
  padding: 12rem;
  border-radius: 25px;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.container-tab {
  padding: 50px;
  background-color: aliceblue;
}

.container-analytics {
  padding: 50px;
  background-color: antiquewhite;
}

/* holds menubar items */
.container-menubar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  box-shadow: 5px 5px 5px grey;
}


.hamburgerDrop {
  display: flex;
  flex-direction: column;
}

.menubar-items_social-icons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menubar-items_list-links {
  margin-top: -250%;
  text-align: center;
}

.social-icon:hover {
  cursor: pointer;
  opacity: 1;
}

.social-icon:active {
  transform: translateY(3px);
  filter: drop-shadow(3px 1px 1px grey);
}

.social-icon {
  transition: 0.2s ease-in-out;
  opacity: 0.8;
  filter: drop-shadow(3px 3px 3px grey);
}
