/*******************************
ANALYTICS CONTAINER ONLY
*******************************/
.container-tab {
  padding: 1.8%;
  background-color: var(--tertiary-color);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 8px 8px 16.2px 1px var(--dark-neumorphism),
  -3px -3px 9px 1px var(--light-neumorphism);
}

.container-analytics {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0);
  box-shadow: inset 8px 8px 16.2px 1px var(--dark-neumorphism),
  inset -3px -3px 9px 1px var(--light-neumorphism);
}
