/*******************************
SIDEBAR ONLY
*******************************/
.flex-menubar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  gap: 10px;
}

.container-sidebar {
  justify-content: space-between;
}

.menubar-items_social-icons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menubar-items_list-links {
  margin-top: -100%;
  text-align: center;
}

.wrapper_navLinks {
  font-size: 1.7rem;
  margin-top: 13%;
}

a:link {
  text-decoration: none;
}

a {
  color: var(--secondary-text-color);
  transition: 0.28s ease-in-out;
}

a:focus {
  outline: none;
}

a:hover,
a:focus {
  color: var(--tertiary-color);
  text-decoration: underline;
}

.snapshots_list {
  overflow-y: scroll;
  max-height: 59vh;
}

/* scrollbar design */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0);
  box-shadow: 4px 4px 10px 0.5px var(--dark-neumorphism),
    -1.5px -1.5px 4px 0.5px var(--light-neumorphism);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: var(--tertiary-color);
}

.snapshots_list_item {
  text-transform: uppercase;
  font-size: 1.1rem;
  color: var(--secondary-text-color);
  font-weight: 5250;
  font-family: 'Arial';
  text-shadow: 2px 2px 3px var(--dark-neumorphism),
    -2px -2px 3px var(--light-neumorphism);
  transition: 0.2s ease-in-out;
}

.snapshots_list_item:hover {
  color: var(--tertiary-color);
  text-shadow: 2px 2px 3px var(--dark-neumorphism),
    -2px -2px 3px var(--light-neumorphism);
  cursor: pointer;
}

/*
* note: social icons must have a div wrapper to gain css functionality
*/
.social-icon:hover {
  cursor: pointer;
  filter: drop-shadow(-4px -4px 2px var(--light-neumorphism))
    drop-shadow(4px 4px 2px var(--dark-neumorphism)) grayscale(0);
}

.social-icon:active {
  transform: translateY(3px);
  filter: drop-shadow(-2px -2px 0.5px var(--light-neumorphism))
    drop-shadow(2px 2px 0.5px var(--dark-neumorphism));
}

.social-icon {
  transition: 0.1s ease-out;
  filter: drop-shadow(-4px -4px 2px var(--light-neumorphism))
    drop-shadow(4px 4px 2px var(--dark-neumorphism)) grayscale(1);
}
