.tab {
  padding: 0.5%;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(128, 128, 128);
  border-top-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
  flex-grow: 1;
  transition: 500ms ease;
  font-weight: bold;
  font-size: .95rem;
}

.tab:focus {
  outline: none;
}

.tab:hover, .tab:focus {
  cursor: pointer;
  border-bottom-color: var(--tertiary-color);
  color: var(--primary--text-color);
}

.hidden-view-buttons {
  position: absolute;
  display: none;
}
